@model GitHubFeatures.Models.Forms.GitHubInformationForm
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>GitHub features</h2>
            <form asp-antiforgery="true" asp-action="Check" asp-controller="Home" method="post" id="case1_f">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="UserName">User's name:</label>
                    <input asp-for="UserName" type="text" class="form-control" id="usersName"
                           data-val="true"
                           data-val-required="GitHub's user name field is required."
                           required />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepositoryName">GitHub repository name:</label>
                    <input asp-for="RepositoryName" type="text" class="form-control" id="git_repo"
                           data-val="true"
                           data-val-required="GitHub's user name field is required."
                           required />
                    <span asp-validation-for="RepositoryName"></span>
                </div>
                <div class="form-group">
                    <label for="options">Choose option:</label>
                    <select class="form-control" name="RequestType" id="options">
                        <option value="0">Check if repository exist</option>
                    </select>
                </div>
                <button class="btn btn-default" type="submit">Go</button>
            </form>
        </div>
        <div class="col-sm-6 text-center" id="update_information">
        </div>
    </div>
</div>